In [ ]:
import sqlite3

With sqlite in Python, there is a library called sqlite3 which allows you to parse databases.

First, you need to create a connection to the database file, in our case is 'database.sqltie'.

Next, you need to create an actual cursor, which will enter the commands you specify into the database.

In [ ]:
conn = sqlite3.connect("database.sqlite")

In [ ]:
cursor = conn.cursor()

This is a completely new database we are working with. To even use a basic select statement, we need to know what there is to query.

Luckily, in sqlite, there is ALWAYS a table that stores the schema (the organization of your database), including table names!

The query for this is:

```SQLITE
SELECT name FROM sqlite_master WHERE type='table';
```

To execute this statement, you need to use the cursor.execute command and put your command in quotation marks as an argument. If you separate the command on multiple lines, you will need to use triple quotes.

On execution, the returned data will automatically be stored inside the cursor. To access this data, you'll need to run cursor.fetchall().

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

cursor.fetchall()

---

#### Exercise: Use the cursor.description command to find the column names in your Salaries table

---

We can use a similar method to find both the column names and their data types from the sqlite_master table:

```sqlite
SELECT sql FROM sqlite_master WHERE name = '<table name>';
```

hint: you can iterate through SQL results using a regular for statement, much like going through a list.

In [ ]:
cursor.execute("SELECT sql FROM sqlite_master WHERE name = 'Salaries'")

results = cursor.fetchall()

#In this particular case, this query is returning a command across multiple lines and not a regular list of rows.
# Because of this, we need to use a nested for loop.
for result in results:
    for row in result:
        print(row)

As we are executing queries, we can also find the datatype of a single column by using typeof.

```sqlite
SELECT typeof(<column_name>) FROM <table_name>;
```

---

#### Exercise: Use the typeof query to find the column type for the 'Benefits' column.

---

### Practice Problems

#### How many rows are in this table?

#### Are there any potential duplicate employees? If so, remove them from the table.

#### How many employees do not get overtime pay?

#### How many employees for each status does not get Overtime Pay?

#### How many employees for each status does not get Other Pay?

#### How many employees for each status do not get Benefits?

#### There is one FT employee who does not have benefits, pull up their data.

#### Let's assume that any employee who does not get benefits is PT. Please update the database accordingly.

#### Re-execute the statement that shows us how many of each employee we have for each status.

#### How many employees do not have a base salary or job title?

#### How many PT employees do not get any compensation other than base pay?

#### Are there more FT or PT employees that get overtime pay?

#### Which employee has the highest base pay?

#### Which employee has the highest total pay?

#### How many employees are making > 100,000 base pay? What about total pay?

#### Are there more FT or PT employees?

#### What is the average base pay for a FT employee? Be sure to round to two decimal places.

#### What is the average base pay for a PT employee?

#### With base pay, is more money typically spent on FT or PT employees?

#### With total pay, is more money typically spent on FT or PT employees?