## Only Penguins

In [1]:
import pandas as pd
import matplotlib as plt

_import data_

In [2]:
# Write code below to import the penguins dataset and display the result

Summarize the data

In [4]:
# Write code below to summarize the quantitative columns

View the column names

In [6]:
# Write code below to display the column names

View the column data types

In [8]:
# Write code to show the dtypes for each column

## Which columns are qualitative and which columns are quantitative?

Check for inconsistencies - view the unique values in the quantitative columns.

In [10]:
# Print the unique values in the species column

In [12]:
# Print the unique values in the island column

In [14]:
# Print the unique values in the sex column

Check for null values

In [16]:
# Count the number of nulls in each columns

In [18]:
# Print number of rows in the column

In [20]:
# Easier way to count nulls and display dtypes

Print null values

In [22]:
# Print only the rows that have NaN values

How do we handles these values?

In [24]:
# Handle code here

// Depends on what your goal with the data is to determine which should be dropped or how they should be handled. Values that are quantitative can be put as 0, removed, or if you want to use these rows for other purposes, you can replace the nan with the column average.

Filter on values

Groupby -> penguin species to calculate average flipper length to detemine which species has longer filters

Groupby -> penguin species to calculate average flipper length to detemine which species has longer filters